.container{
    height: 100%;
    position: relative;
}
.loginBox{
    width: 320px;
    height: 450px;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn{
    width: 99%;
    height: 40px;
    background-color: #F13B40;
    border: 0;
    border-radius: 7px;
    color: white;
    margin-bottom: 15px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    width: 200px;
}

.desc{
    width: 100%;
    margin: 0;
    margin-bottom: 3px;
}