
<div style="margin: 24px; ">
        <mat-progress-bar
            class="example-margin"
            [color]="'primary'"
            [mode]="'determinate'"
            [value]="value"
            [bufferValue]="75">
        </mat-progress-bar>

       <h1>NOVA CONTA</h1>
       <h3>Nome</h3>
       <input type="text">
       <h3>Sobrenome</h3>
       <input type="text">
       <h3>Nome de usuário</h3>
       <input type="text">
       <br>
       <button class="btn"><h2>Próximo</h2></button>
</div>

